body
{
    background:#ffffff;font-size:12px;font-family:Arial;margin:0;
}
img{border:none;}
.clear{clear:both;}
.smallSpace{clear:both;height:10px;}
.spaceMedium{clear:both;height:20px;}
.spacebig{clear:both;height:40px}
.CalcsRight{width:451px;margin:0 auto;height:650px;}
.CalcsRight .calcimg{display:inline;width:138px;float:right;}
.CalcsRight .calcimg img{margin-left:10px;margin-right:10px;}
.CalcsRight .calcimg p{width:120px;float:right;margin-left:10px;margin-right:10px;text-align:right;direction:rtl;}
.CalcsRight .calcimg a{text-decoration:none;color:#000000;font-size:12px;font-weight:bold;}
.CalcsRight .calcimg a:hover{text-decoration:none;color:#76D941;font-size:12px;font-weight:bold;}
/*.CalcsRight .imgcalc{display:inline;text-align:right;float:right;width:129px;}*/
.CalcsRight .txtcalc{float:right;text-align:right;width:452px;}
.CalcsRight .txtcalc .title{direction:rtl;float:right;display:block;background-image:url(../images/blue_headline.png);width:451px;height:49px;background-repeat:no-repeat;}
.CalcsRight .txtcalc h1{color:#075989;font-size:15px;font-weight:bold;margin:19px 55px 0 0;}
.CalcsRight .calcMainBody{float:right;background-image:url(../images/blue_mdl.png);background-repeat:repeat;width:451px;}
.CalcsRight .calcMainBody .explain{color:#333333;font-family:Arial;line-height:16px;}
.CalcsRight .calcBody .category{background:#19648E;color:#fff;}
.CalcsRight .calcBody .letters{display:inline;width:100%;}
.CalcsRight .calcBody .letters a{margin-left:20px;}
.CalcsRight .calcBody .letters a,a:hover{color:#333333;font-weight:bold;font-size:16px;text-decoration:underline;}
.CalcsRight .calcBody table{width:400px;}
.CalcsRight .calcBody #listDetails{font-weight:bold;color:#333333;direction:rtl;font-size:12px;}
.CalcsRight .calcBody #listDetails span{color:#2B9AD0;font-size:12px;}
.CalcsRight .calcBody #listDetails img{cursor:pointer;margin-left:5px;}
.CalcsRight .calcBody #tables{clear:both;width:100%;}
.CalcsRight .calcBody #tables table{float:right;direction:rtl;}
.CalcsRight .calcBody #tables td{text-align:right;font-size:12px;font-weight:bold;color:#333333;min-width:40px;}
.CalcsRight .calcBody #tables td label{margin-right:10px;margin-left:10px;font-size:11px;color:#333333;}
.CalcsRight .calcBody #tables td span{font-weight:normal;}
.CalcsRight .calcBody #tables td input[type="text"] {height:20px;width:45px;text-align:center;}
.CalcsRight .calcBody #tables td input[type="radio"]{height:10px;}
.CalcsRight .calcBody #tables td select{width:105px;height:20px;}
.CalcsRight .calcBody #tables .spaceSmall{height:13px;}
.CalcsRight .calcBody #tables .spaceMedium{height:17px;}
.CalcsRight .calcBody #tables .Innertable td,th{border:solid 2px #aaaaaa;}
.CalcsRight .calcBody #tables .Innertable input[type="text"] {height:14px;}
.CalcsRight .calcBody{direction:rtl;margin:0 auto;width:420px;}
.CalcsRight .calcBody img{margin-right:5px;margin-left:5px;}
.CalcsRight .calcBody span{font-size:13px;}
.CalcsRight .calcBody .divbr {font-size:13px;text-indent:10px;}
.CalcsRight .calcBody .divbr ul{display:inline;}
.CalcsRight .calcBody .divbr li{list-style:none;display:inline;}
.CalcsRight .calcBody .divbr table{width:420px;}
.CalcsRight .calcBody .divbr table td{font-weight:bold;line-height:25px;} 
.CalcsRight .calcBody .divbr table td span{margin-right:10px;color:black;}
.CalcsRight .calcBody td{text-align:right;font-size:12px;font-weight:bold;color:#333333;min-width:40px;}
.CalcsRight .calcBody td span{ color:#7C8B8A;}
.CalcsRight .calcBody table input[type="text"] {text-align:center; width:50px;font-weight: bold;font-size:16px; height: 22px;font-family:Arial;}
.CalcsRight .calcBody label{margin-right:5px;}
.CalcsRight .calcBody .button{font-size:16px;float:right;width:230px;height:45px;cursor:pointer;color:#fff;border:1px outset #CCC;font-weight:bold;text-align:center;line-height:20px;background:#176490;}
.CalcsRight .calcBody select{direction:rtl;border:1px solid #cccccc;width:230px; height: 20px;font-family:Arial;font-size:12px;text-align:right;}
.CalcsRight .calcBody .SmallfloatTable td{width:auto;}
.CalcsRight .calcBody .LargeTable table{width:420px;}
.CalcsRight .calcBody .LargeTable .letters{letter-spacing:8px;margin:0 auto;text-align:center;line-height:30px;}
.CalcsRight .calcBody .LargeTable .actions input{width:70px;height:25px;font-size:12px;text-align:center;}
.CalcsRight .calcBody .LargeTable .letters a,a:hover{font-size:16px;font-weight:bold;color:navy;text-decoration:none;}
.CalcsRight .calcBody .LargeTable table td{width:auto;line-height:25px;}
.CalcsRight .calcBody .LargeTable hr{border:none;color:#075989;background:#075989;height:1px;}
.CalcsRight .calcBody .LargeTable #innerTable table{border-bottom:solid 1px #eeeeee;border-collapse:separate;}
.CalcsRight .calcBody .LargeTable #innerTable th{border-top:solid 1px #eeeeee;border-left:solid 1px #eeeeee;border-right:solid 1px #eeeeee;text-align:center;color:navy;}
.CalcsRight .calcBody .LargeTable #innerTable td{border-top:solid 1px #eeeeee;border-left:solid 1px #eeeeee;border-right:solid 1px #eeeeee;}
.CalcsRight .calcBody .LargeTable #innerTable select{font-size:12px;font-weight:normal;}
.CalcsRight .calcBody .LargeTable #innerTable input{width:80px;border:none;font-size:12px;font-weight:normal;background:none;}
.CalcsRight .calcBody .LargeTable #listDetails{font-weight:bold;font-size:11px;letter-spacing:2px;}
.CalcsRight .calcBody .LargeTable .delete{cursor:pointer;width:20px;height:20px;}
.CalcsRight .calcBody .explain #analyzeRewsults{float:right;}
.CalcsRight .calcBody .explain #analyzeRewsults .mikra{width:420px;}
.CalcsRight .calcBody .explain #analyzeRewsults .mikra table{width:410px;border:none;}
.CalcsRight .calcBody .explain #analyzeRewsults .mikra td{line-height:30px;border:none;font-weight:bold;font-size:12px;}
.CalcsRight .calcBody .explain #analyzeRewsults .mikra .titletd{color:Red;}
.CalcsRight .calcBody .explain #analyzeRewsults .mikra .line{border-left:none;}
.CalcsRight .calcBody .explain #analyzeRewsults .mikra .color{color:Green;}
.CalcsRight .calcBody .explain #analyzeRewsults table{border:solid 1px #ccc;width:430px;border-bottom:none;border-left:none;}
.CalcsRight .calcBody .explain #analyzeRewsults th{border:none;color:navy;font-weight:bold;border-bottom:solid 1px #ccc;border-left:solid 1px #ccc;}
.CalcsRight .calcBody .explain #analyzeRewsults td{border-bottom:solid 1px #ccc;border-left:solid 1px #ccc;}
.CalcsRight .calcBody .explain #analyzeRewsults .notfound td{background:green;color:#fff;font-weight:normal;}
.CalcsRight .calcBody .explain #analyzeRewsults .notexists td{background:#fff;color:#000;font-weight:normal;}
.CalcsRight .calcBody .explain #analyzeRewsults .normal td{font-weight:bold;}
.CalcsRight .calcBody .explain #analyzeRewsults .bolds{color:Red;}
.CalcsRight .calcBody .buttonResult{cursor:pointer;background-image:url(../Images/button.png);width:108px;height:30px;border:none;display:inline;float:right;font-weight:bold;}
.CalcsRight .calcButtons{float:right;background-image:url(../images/blue_bottom.png);background-repeat:no-repeat;width:451px;height:51px;}
.CalcsRight .calcButtons div{display:inline-block;margin-left:5px;margin-right:5px;margin-top:10px;}
.CalcsRight .calcButtons .buttonClean{cursor:pointer;background-image:url(../Images/single_calc_10.jpg);width:123px;height:31px;border:none;display:inline;float:left;}
.CalcsRight .calcButtons .buttonBack{cursor:pointer;background-image:url(../Images/single_calc_18.jpg);width:123px;height:31px;border:none;display:inline;float:left;}
.CalcsRight .calcButtons .buttonClean{cursor:pointer;background-image:url(../Images/single_calc_10.jpg);width:123px;height:31px;border:none;display:inline;float:left;}
.CalcsRight .calcButtons .left{float:left;}
.CalcsRight .calcfooter{width:100%;}
.CalcsRight .calcfooter table{width:400px;direction:rtl;margin:0 auto;}
.CalcsRight .calcfooter table td{font-weight:bold;font-size:14px;}
.CalcsRight .calcfooter table td input{color:#A10000}
.CalcsRight .calcfooter .title{direction:rtl;float:right;display:block;background-image:url(../images/green_headline.png);width:451px;height:33px;background-repeat:no-repeat;}
.CalcsRight .calcfooter  .title h3{color:#3F740C;font-size:15px;font-weight:bold;margin:9px 25px 0 0;}
.CalcsRight .calcfooter .calcfooterBody{float:right;background-image:url(../images/green_mdl.png);background-repeat:repeat;width:448px;min-height:130px;}
.CalcsRight .calcfooter .calcfooterBody #resultLabel, #total, #ResponseValue, .resultLabel{color:#a10000;float:right;direction:rtl;margin-right:30px;font-size:20px;font-family:Arial;}
.CalcsRight .calcfooter .calcfooterBody #resultLabel input{font-size:20px;margin-right:80px;width:90px;}
.CalcsRight .calcfooter .calcfooterBody #descriptionLabel, #totalHoursCaption, .descriptionLabel{color:#333333;float:right;margin-right:30px;direction:rtl;text-align:right;margin-left:30px;}
.CalcsRight .calcfooter .calcfooterBody #descriptionLabel .font{font-size:16px;color:Red;display:inline;}
.CalcsRight .calcfooter .calcfooterBody #descriptionLabel label{font-weight:bold;}
.CalcsRight .calcfooter .calcfooterBody #descriptionLabel p{color:#333333;font-size:16px;font-weight:bold;width:252px;text-align:center;}
.CalcsRight .calcfooter .calcfooterBody input{font-size:25px;font-weight:bold;height:30px;width:140px;margin-left:40px;text-align:center;background:#EEFAE4;border:none;font-family:Arial;}
.CalcsRight .calcfooter .calcfooterBody span{margin:0;font-size:18px;}
.CalcsRight .calcfooter .calcfooterBody .none{direction:rtl;margin:0 auto;width:420px;}
.CalcsRight .calcfooter .calcfooterBody .none table{width:200px;}
.CalcsRight .calcfooter .calcfooterBody .none table td{text-align:right;font-size:12px;font-weight:bold;color:#000000;line-height:15px;}
.CalcsRight .calcfooter .calcfooterBody .none input{border:1px solid #aaaaaa;width: 70px; height: 22px;margin-left:0;font-size:12px;text-align:center;font-family:Arial;border:none;}
.CalcsRight .calcfooter .explain{color:#9F9E9A;font-size:16;direction:rtl;text-align:center;}
.CalcsRight .calcfooter .rultsexplain{direction:rtl;text-align:right;font-size:12px;margin-right:20px}
.CalcsRight .calcfooter .rultsexplain u{font-weight:bold;}
.CalcsRight .calcfooter .calcfooterBody .title{font-size:25px;font-weight:bold;margin:0 auto;height:30px;width:200px;background:#EEFAE4;float:none;font-family:Arial;}
.CalcsRight .calcfooter .calcfooterBody .description{clear:both;color:#000000;text-align:justify;font-size:16;margin:0 auto;width:420px;direction:rtl;font-family:Arial}
.CalcsRight .calcfooter .calcfooterBody .warn{display:inline;float:right;direction:rtl;margin:0 5px 0 0;}
.CalcsRight .calcfooter .calcfooterBody .left{display:inline;float:left;}
input[type="button"] 
{
    width: 105px;
    border: 1px solid #CCC;
    text-align:center;
    font-family:Arial;
    font-size:12px;
    cursor:pointer;
    font-weight:bold;
    height:20px;
}
input[type="hidden"] 
{
    border:none;
    width:0px;
}
textarea{resize:none;}
